@use '../../assets/sass/functions' as f;
@use '../../assets/sass/variables' as *;
@use '../../assets/sass/mixins' as m;
@use '../../assets/sass/keyframes' as *;

.storybook-button {
    @include m.position(relative);

    padding: f.em($spacing-spacing-sm) f.em($spacing-spacing-4xl);
    border: solid f.em(1);
    border-radius: f.em($borderradius-rounded-full);

    color: $color-white;
    background-color: transparent;
    border-color: transparent;

    font-family: $font-family;
    font-weight: 700;
    line-height: 1;

    cursor: pointer;
    overflow: hidden;
    transition: $transition;

    // Styles
    &--primary {
        background-color: $color-black;

        &:hover {
            background-color: $color-primary-base;
        }
    }

    &--secondary {
        color: $color-black;
        border-color: $color-black;

        &:hover {
            background-color: $color-primary-200;
        }
    }

    &--tertiary {
        color: $color-black;

        &:hover {
            color: $color-primary-base;
        }
    }

    &--danger {
        background-color: $color-danger-base;

        &:hover {
            background-color: $color-danger-300;
        }
    }

    // Sizes
    &--small {
        font-size: f.em($fontsize-md);
    }

    &--medium {
        font-size: f.em($fontsize-base);
    }

    &--large {
        font-size: f.em($fontsize-lg);
    }
}